In [2]:
x = [{'city':'seoul', 'temp':10.0},{'city':'Dubiai', 'temp':33.5},{'city':'LA','temp':20.0}]
x

[{'city': 'seoul', 'temp': 10.0},
 {'city': 'Dubiai', 'temp': 33.5},
 {'city': 'LA', 'temp': 20.0}]

In [4]:
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse = False)
vec.fit_transform(x)

array([[ 0. ,  0. ,  1. , 10. ],
       [ 1. ,  0. ,  0. , 33.5],
       [ 0. ,  1. ,  0. , 20. ]])

In [5]:
text = {'떴다 떴다 비행기 날아라 날아라',
       '높이 높이 날아라 우리 비행기',
       '내가 만든 비행기 날아라 날아라',
       '멀리 멀리 날아라 우리 비행기'}
text

{'내가 만든 비행기 날아라 날아라',
 '높이 높이 날아라 우리 비행기',
 '떴다 떴다 비행기 날아라 날아라',
 '멀리 멀리 날아라 우리 비행기'}

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
vec2 = CountVectorizer() #defult는 sparse = True
t = vec2.fit_transform(text).toarray() #toarray로 sparse 압축 해제

import pandas as pd
t1 = pd.DataFrame(t, columns = vec2.get_feature_names())
t1

   날아라  내가  높이  떴다  만든  멀리  비행기  우리
0    2   1   0   0   1   0    1   0
1    1   0   2   0   0   0    1   1
2    1   0   0   0   0   2    1   1
3    2   0   0   2   0   0    1   0

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid = TfidfVectorizer()
x2 = tfid.fit_transform(text).toarray()
x3 = pd.DataFrame(x2, columns = tfid.get_feature_names())
x3

        날아라        내가       높이       떴다        만든       멀리       비행기        우리
0  0.569241  0.545415  0.00000  0.00000  0.545415  0.00000  0.284620  0.000000
1  0.229589  0.000000  0.87992  0.00000  0.000000  0.00000  0.229589  0.346869
2  0.229589  0.000000  0.00000  0.00000  0.000000  0.87992  0.229589  0.346869
3  0.450735  0.000000  0.00000  0.86374  0.000000  0.00000  0.225368  0.000000