### 데이터불러오기

In [101]:
#1. 데이터불러오기
import pandas as pd
df1 = pd.read_csv("train.csv", engine = 'python')
df2 = pd.read_csv("test_data.csv", engine = 'python')
submit = pd.read_csv("submission_form.csv",engine = 'python')

In [102]:
X = df1.drop(['Unnamed: 0','8'],axis=1)
Y = df1['8']

X_test = df2.drop(['Unnamed: 0','8'],axis=1)
X_test.head()

          0         1         2  ...         5         6         7
0 -0.882353  0.085427 -0.016393  ...  0.058122 -0.712212 -0.900000
1 -0.411765 -0.025126  0.245902  ...  0.061103 -0.743809  0.033333
2 -0.529412 -0.165829  0.409836  ... -0.126677 -0.795901 -0.566667
3 -0.882353  0.145729  0.081967  ...  0.135618 -0.819812  0.000000
4 -0.882353  0.497487  0.114754  ... -0.126677 -0.768574 -0.300000

[5 rows x 8 columns]

### 데이터분할

In [103]:
#2.데이터분할
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X,Y,test_size = 0.3, random_state = 1, stratify = Y)

print(X_train.shape)
print(X_val.shape)
print(Y_train.shape)
print(Y_val.shape)

(496, 8)
(213, 8)
(496,)
(213,)

##### 표준화

In [116]:
#입력데이터표준화
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
X_val_std = sc.transform(X_val)

### 모델추정 및 사례중심학습

In [126]:
#3.모델추정 및 사례중심학습
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 30, p = 2)
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=30, p=2,
                     weights='uniform')

In [127]:
Y_train_pred = knn.predict(X_train)
Y_val_pred = knn.predict(X_val)
Y_test_pred = knn.predict(X_test)

print('MisClassified training samples: %d'%(Y_train!=Y_train_pred).sum())
print('MisClassified validation samples: %d'%(Y_val!= Y_val_pred).sum())
Y_test_pred

MisClassified training samples: 104
MisClassified validation samples: 55

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1.])

##### 표준화

In [128]:
knn.fit(X_train_std,Y_train)
Y_train_std_pred = knn.predict(X_train_std)
Y_val_std_pred = knn.predict(X_val_std)
Y_test_std_pred = knn.predict(X_test_std)

Y_test_std_pred

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1.,
       1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1.])

### 결과분석

In [129]:
#결과분석
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val,Y_val_pred))

0.7417840375586855

##### 표준화

In [130]:
#표준화
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val,Y_val_std_pred))

0.7511737089201878

# 표준화 X: 0.741  |  표준화: 0.751 (k=30, 유클리드거리)

In [87]:
from sklearn.metrics import confusion_matrix #오분류표 작성을 위한 모듈 import
conf=confusion_matrix(y_true=Y_val,y_pred=Y_val_pred)
print(conf)

[[ 33  40]
 [ 16 124]]

In [125]:
#표준화
from sklearn.metrics import confusion_matrix #오분류표 작성을 위한 모듈 import
conf=confusion_matrix(y_true=Y_val,y_pred=Y_val_std_pred)
print(conf)

[[ 30  43]
 [ 11 129]]

In [100]:
submit['Label']=Y_test_pred
submit

    ID  Label
0    0    1.0
1    1    1.0
2    2    1.0
3    3    1.0
4    4    1.0
5    5    1.0
6    6    1.0
7    7    1.0
8    8    1.0
9    9    1.0
10  10    1.0
11  11    1.0
12  12    1.0
13  13    1.0
14  14    1.0
15  15    1.0
16  16    1.0
17  17    1.0
18  18    1.0
19  19    1.0
20  20    1.0
21  21    1.0
22  22    0.0
23  23    1.0
24  24    1.0
25  25    0.0
26  26    0.0
27  27    1.0
28  28    0.0
29  29    1.0
30  30    0.0
31  31    0.0
32  32    1.0
33  33    1.0
34  34    1.0
35  35    0.0
36  36    0.0
37  37    1.0
38  38    0.0
39  39    1.0
40  40    1.0
41  41    0.0
42  42    1.0
43  43    0.0
44  44    1.0
45  45    1.0
46  46    1.0
47  47    1.0
48  48    1.0
49  49    1.0

In [124]:
submit['Label']=Y_test_std_pred
submit

    ID  Label
0    0    1.0
1    1    1.0
2    2    1.0
3    3    1.0
4    4    1.0
5    5    1.0
6    6    1.0
7    7    1.0
8    8    1.0
9    9    1.0
10  10    0.0
11  11    1.0
12  12    1.0
13  13    1.0
14  14    1.0
15  15    1.0
16  16    1.0
17  17    1.0
18  18    1.0
19  19    1.0
20  20    1.0
21  21    1.0
22  22    0.0
23  23    1.0
24  24    1.0
25  25    0.0
26  26    0.0
27  27    1.0
28  28    1.0
29  29    1.0
30  30    0.0
31  31    1.0
32  32    1.0
33  33    1.0
34  34    1.0
35  35    0.0
36  36    0.0
37  37    1.0
38  38    0.0
39  39    0.0
40  40    1.0
41  41    0.0
42  42    1.0
43  43    0.0
44  44    1.0
45  45    1.0
46  46    1.0
47  47    1.0
48  48    1.0
49  49    1.0